body {
    height: 100%;
    width: 100%;
}

body {
    color: #555;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
    background: #f7fafc;
    position: absolute;
    top: 0;
    left: 0;
}

.color-inherit {
    color: inherit;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

a,
a:hover,
a:focus,
a:visited,
a:active,
a:link {
    text-decoration: none;
    outline: none;
}

.color-inherit {
    color: inherit;
}

.container {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



.logo {
    margin: 0;
}

.logo h2 {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
}

.login-toggle {
    height: 44px;
    margin-bottom: 10px;
}

.login-toggle a {
    color: inherit;
    display: inline-block;
    font-size: 18px;
    height: 100%;
    line-height: 35px;
    opacity: .7;
    margin: 0 18px;
}

.login-toggle .active {
    opacity: 1;
    color: #0f88eb;
}

#login-toggle-bar {
    display: inline-block;
    width: 43px;
    height: 0.2em;
    background: #0f88eb;
    transition: left .15s ease-in;
    position: relative;
    top: -12px;
    left: -38px;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-control[name="username"] {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.form-control[name="password"] {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


.btu-submit,
.btu-submit:hover,
.btu-submit:focus,
.btu-submit:visited {
    color: #fff;
}

.btu-submit {
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 39px;
    background: 0 0 #0f88eb;
    border: 1px solid #96c2e9;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
    margin: 10px auto;
    -webkit-appearance: none;
}

.btu-submit:hover {
    background: #55abed;
}



.btu-download,
.btu-download:hover,
.btu-download:focus,
.btu-download:visited {
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 39px;
    background: 0 0 #f7fafc;
    border: 1px solid #96c2e9;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
    margin: 10px auto;
    color: #5fa6e5;
}

.error-msg {
    position: absolute;
    top: 0;
    right: 18px;
    padding: 0 8px;
    line-height: 48px;
    color: #c33;
    cursor: text;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 14px;
    font-weight: normal;
}


.footer {
    position: absolute;
    width: 100%;
    bottom: -68px;
    z-index: -1;
}

.footer a,
.footer p,
.footer span,
.footer-simple a {
    color: #aebdc9;
    font-size: 0.8rem;
}

.feedback{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 25px;
    width: 25px;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1980px;
    height: 1080px;
}