.index-header {
    text-align: center
}

html,body {
    color: #555;
    text-align: center;
    font-size: 15px;
    line-height: 1.7;
    margin: 0px;
    min-height: 720px;
    height: 100%;
    font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
    background: #f7fafc;
    -webkit-font-smoothing: subpixel-antialiased;
}
.index-header .subtitle {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
}
input{
    margin: 0px;
    padding: 15px;
}
.index-tab{
    margin-bottom: 20px;
}
.group-inputs{
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
.footer a, .footer span{
    
    color: #aebdc9
}
.fankui{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-image: url(../images/feedback.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.feedback{
position: fixed;
z-index: 10000;
bottom: 40px;
right: 40px;
width: 40px;
height: 40px;
cursor: pointer;
border-radius: 50%;
background-color: #fff;
border: none;
outline: none;
box-shadow: 0 0 10px rgba(0,0,0,.15);
font-weight: 700;
line-height: normal;
}
button{
    text-align: center
}
.footer{
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}
.input-wrapper{
    padding: 0px
}

/* 
.index-header .logo {
    margin: 0 auto;
    width: 160px;
    height: 74px;
    background: url(/static/revved/img/index/logo.6837e927.png) no-repeat;
    background-size: contain
}

@media (max-width:740px) {
    .index-header .logo {
        width: 96px;
        height: 44.4px
    }
}

@media (-webkit-min-device-pixel-ratio:2), (min-resolution:2dppx), (min-resolution:192dpi) {
    .index-header .logo {
        background-image: url(/static/revved/img/index/logo@2x.e4e2b466.png)
    }
}

.index-header .subtitle {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1
}

.index-header-org {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%
}

.index-header-org .org-logo {
    width: 64px;
    height: 29.6px;
    background-image: url(/static/revved/img/index/logo.6837e927.png);
    background-size: contain
}

@media (max-width:740px) {
    .index-header-org .org-logo {
        margin-top: 0;
        width: 51.2px;
        height: 23.68px
    }
}

@media (-webkit-min-device-pixel-ratio:2), (min-resolution:2dppx), (min-resolution:192dpi) {
    .index-header-org .org-logo {
        background-image: url(/static/revved/img/index/logo@2x.e4e2b466.png)
    }
}

.index-header-org-right {
    line-height: 29.6px;
    color: #9aaabf
}

.index-header-org-right a {
    line-height: 29.6px;
    color: #175199
} */